.navigation {
  background-color: var(--color-main);
  color: white;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  position: sticky;
  text-align: center;
  top: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .main {
}

.navigation ul {
  margin-bottom: 5px;
  list-style: none;
  height: 100px;
}

.navigation li {
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
}

.navigation li:hover {
  background-color: var(--color-detail);
}
